################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OptionCSMSAutomationPlayWright/.vs/OptionCSMSAutomationPlayWright
/OptionCSMSAutomationPlayWright/obj
/OptionCSMSAutomationPlayWright/bin/Debug/net6.0/.playwright/package/bin
/OptionCSMSAutomationPlayWright/bin/Debug/net6.0
/OptionCSMSAutomationPlayWright/bin/Debug/net9.0
/OptionCSMSAutomationPlayWright/.vs/ProjectEvaluation
