################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OptionCSMSAutomationPlayWright/.vs/OptionCSMSAutomationPlayWright
/OptionCSMSAutomationPlayWright/obj
